{% extends 'base.html' %}

{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->

<form class="form-horizontal" role="form" action="/upload_file/" enctype="multipart/form-data" method="POST">
    <div class="jumbotron">
     {% csrf_token %}
     {{ form }}
    <br/>
    <input type="submit" name="提交">
    <!--
    
        <div class="col-sm-10">
            <input type="text" class="form-control" name="weburl" placeholder="Text input">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    
    -->
    </div>
</form>

<br/>

<div id="divshow" style="display: none;">

<img src="{{ img_path }}">

<textarea id="text">{{ img_path }}</textarea>
<button id="btn">复制到剪贴板</button>

</div>

<script>
    window.onload=function(event){
        var imgpath = document.getElementById('text').value; 
        
        //alert(imgpath);
        
        var divShow=document.getElementById("divshow");
        
        if(imgpath!="")
        {
            //alert("null")
            divShow.style.display="block";
        }
     
        
        var button=document.getElementById("btn");
        button.onclick=function(event){
            document.getElementById("text").select();
            document.execCommand("copy",false,null);
        };
    };
</script>

{% endblock %}